<style>
    .barchart {
        list-style: none;
        margin-left: 1.0em;
        font-size: 12px;
        margin-bottom: 35px;
    }

    .barchart li {
        margin-bottom: 3px;
        line-height: 12px;
    }

    .barchart .mission {
        color: #666;
        display: inline-block;
        width: 4em;
    }

    .barchart .bar {
        display: inline-block;
        text-align: right;
        background: #c02942;
    }

    .barchart .number {
        color: #fff;
        padding-right: 5px;
    }

    .barchart .number.outside {
        padding-left: 5px;
        color: #888;
        font-size: 0.8em;
    }

    .barchart .total {
        margin-top: 10px;
    }
</style>
<ul class="barchart">
 <li><span class="mission">ISS001</span><span class="bar" style="width:0px;">&nbsp;</span><span class="number outside">474</span></li>
 <li><span class="mission">ISS002</span><span class="bar" style="width:5px;">&nbsp;</span><span class="number outside">2,976</span></li>
 <li><span class="mission">ISS003</span><span class="bar" style="width:1px;">&nbsp;</span><span class="number outside">930</span></li>
 <li><span class="mission">ISS004</span><span class="bar" style="width:10px;">&nbsp;</span><span class="number outside">5,832</span></li>
 <li><span class="mission">ISS005</span><span class="bar" style="width:25px;">&nbsp;</span><span class="number outside">13,801</span></li>
 <li><span class="mission">ISS006</span><span class="bar" style="width:81px;">&nbsp;</span><span class="number outside">43,436</span></li>
 <li><span class="mission">ISS007</span><span class="bar" style="width:21px;">&nbsp;</span><span class="number outside">11,204</span></li>
 <li><span class="mission">ISS008</span><span class="bar" style="width:27px;">&nbsp;</span><span class="number outside">14,875</span></li>
 <li><span class="mission">ISS009</span><span class="bar" style="width:39px;">&nbsp;</span><span class="number outside">21,259</span></li>
 <li><span class="mission">ISS010</span><span class="bar" style="width:40px;">&nbsp;</span><span class="number outside">21,473</span></li>
 <li><span class="mission">ISS011</span><span class="bar" style="width:15px;">&nbsp;</span><span class="number outside">8,516</span></li>
 <li><span class="mission">ISS012</span><span class="bar" style="width:29px;">&nbsp;</span><span class="number outside">15,622</span></li>
 <li><span class="mission">ISS013</span><span class="bar" style="width:139px;">&nbsp;</span><span class="number outside">74,397</span></li>
 <li><span class="mission">ISS014</span><span class="bar" style="width:14px;">&nbsp;</span><span class="number outside">7,906</span></li>
 <li><span class="mission">ISS015</span><span class="bar" style="width:39px;">&nbsp;</span><span class="number outside">20,883</span></li>
 <li><span class="mission">ISS016</span><span class="bar" style="width:36px;">&nbsp;</span><span class="number outside">19,550</span></li>
 <li><span class="mission">ISS017</span><span class="bar" style="width:20px;">&nbsp;</span><span class="number outside">11,023</span></li>
 <li><span class="mission">ISS018</span><span class="bar" style="width:52px;">&nbsp;</span><span class="number outside">27,870</span></li>
 <li><span class="mission">ISS019</span><span class="bar" style="width:20px;">&nbsp;</span><span class="number outside">11,143</span></li>
 <li><span class="mission">ISS020</span><span class="bar" style="width:47px;">&nbsp;</span><span class="number outside">25,258</span></li>
 <li><span class="mission">ISS021</span><span class="bar" style="width:48px;">&nbsp;</span><span class="number outside">25,884</span></li>
 <li><span class="mission">ISS022</span><span class="bar" style="width:166px;">&nbsp;</span><span class="number outside">88,932</span></li>
 <li><span class="mission">ISS023</span><span class="bar" style="width:84px;">&nbsp;</span><span class="number outside">45,212</span></li>
 <li><span class="mission">ISS024</span><span class="bar" style="width:9px;">&nbsp;</span><span class="number outside">5,270</span></li>
 <li><span class="mission">ISS025</span><span class="bar" style="width:22px;">&nbsp;</span><span class="number outside">12,101</span></li>
 <li><span class="mission">ISS026</span><span class="bar" style="width:46px;">&nbsp;</span><span class="number outside">24,662</span></li>
 <li><span class="mission">ISS027</span><span class="bar" style="width:50px;">&nbsp;</span><span class="number outside">26,766</span></li>
 <li><span class="mission">ISS028</span><span class="bar" style="width:58px;">&nbsp;</span><span class="number outside">31,044</span></li>
 <li><span class="mission">ISS029</span><span class="bar" style="width:60px;">&nbsp;</span><span class="number outside">32,056</span></li>
 <li><span class="mission">ISS030</span><span class="bar" style="width:489px;">&nbsp;</span><span class="number outside">261,166</span></li>
 <li><span class="mission">ISS031</span><span class="bar" style="width:271px;">&nbsp;</span><span class="number outside">144,718</span></li>
 <li><span class="mission">ISS032</span><span class="bar" style="width:17px;">&nbsp;</span><span class="number outside">9,409</span></li>
 <li><span class="mission">ISS033</span><span class="bar" style="width:21px;">&nbsp;</span><span class="number outside">11,356</span></li>
 <li><span class="mission">ISS034</span><span class="bar" style="width:97px;">&nbsp;</span><span class="number outside">52,173</span></li>
 <li class="total"><span class="mission">Total:</span><strong>1,129,177</strong></li>
</ul>

