<div class="row">
  <div class="col-lg-2 col-lg-offset-3">
    <a onClick="_gaq.push(['_trackEvent', 'Downloads', 'zip', 'ISS Photo Locations']);" href="https://github.com/natronics/ISS-photo-locations/archive/master.zip">
      <i class="icon-zip"> </i> .zip
    </a>
  </div>
  <div class="col-lg-2">
    <a onClick="_gaq.push(['_trackEvent', 'Downloads', 'tar', 'ISS Photo Locations']);" href="https://github.com/natronics/ISS-photo-locations/archive/master.tar.gz">
      <i class="icon-tar"> </i> .tar.gz
    </a>
  </div>
  <div class="col-lg-2">
    <a href="https://github.com/natronics/ISS-photo-locations/">
      <i class="icon-github"> </i> View on github
    </a>
  </div>
</div>
