<div class="row" style="margin-bottom: 1.8em;">
  <div class="col-lg-3 col-md-3 col-xs-4 col-lg-offset-2 col-md-offset-1">
    <a onClick="_gaq.push(['_trackEvent', 'Downloads', 'zip', 'ISS Photo Locations']);" href="https://github.com/natronics/ISS-photo-locations/archive/master.zip">
      <i class="icon-zip"> </i> .zip
    </a>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-4">
    <a onClick="_gaq.push(['_trackEvent', 'Downloads', 'tar', 'ISS Photo Locations']);" href="https://github.com/natronics/ISS-photo-locations/archive/master.tar.gz">
      <i class="icon-tar"> </i> .tar.gz
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-4">
    <a href="https://github.com/natronics/ISS-photo-locations/">
      <i class="icon-github"> </i> View on github
    </a>
  </div>
</div>
