<div id="social">
 <span class="note">Share this page</span>
 <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="http://natronics.github.com/ISS-photo-locations/" addthis:title="Visualization of astronaut photos">
  <a class="addthis_button_twitter"> </a>
  <a class="addthis_button_facebook"> </a>
  <a class="addthis_button_google_plusone_share"> </a>
  <a class="addthis_button_reddit"> </a>
  <a class="addthis_counter addthis_bubble_style"> </a>
 </div>
 <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-514c13014905fe79"> </script>
</div>
